@import "colors";
@import "typography";
@import "structure";
$design-color: #3bc1c5;
$beauty-color: #662d91;
$fashion-color: #ed1a51;
$bitsbulletin-color: #FF8000;
$bits-talk-color: #3b65c5;
$lifestyle-color: #3bc1c5;
